{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-home-header">
    {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="inner">
            {{> "site-nav"}}
            <div class="site-header-content">
                <h1 class="site-title">
                    {{#if @site.logo}}
                        <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </h1>
                <h2 class="site-description">{{@site.description}}</h2>
            </div>
        </div>
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
      <div class="inner posts">
        <h1 class="mainpage-title" style='padding-top: 10px'>Hello everyone!</h1>
        <p class="mainpage-body-first">I live to create projects that I am passionate about - whether that be an A.I. system, a personal blogging site, a Math and CompSci YouTube channel, or anything related.</p>
        <p>I have 2 goals with this website: 1) to give you an idea of who I am, and 2) to showcase/document my projects and their progress. You can find more info about me on this main page and my side projects and blog posts through the links in the navigation bar on top.</p>

        <h1>Testing 1</h1>
        <p>Hello</p>
      </div>

      <div class="inner posts">
        <h1>Testing 2</h1>
        <p>Hello2</p>
      </div>


      <div class="inner posts">
        <h1>Featured Posts</h1>
          <div class="post-feed" style='padding-bottom: 0px'>
            {{#get "posts" filter="featured:true" limit="3"}}
              {{#foreach posts}}
                  {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                  {{> "post-card"}}
              {{/foreach}}
                  {{/get}}
          </div>

          <h1>Recent Posts</h1>
            <div class="post-feed" style='padding-bottom: 0px'>
              {{#get "posts" filter="featured:false" limit="3"}}
                {{#foreach posts}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
                    {{/get}}
            </div>
      </div>
</main>

{{> site-header}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {

        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');
        var feedTwo = document.querySelector('.mainpage-body-first');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            // var trigger = feed.getBoundingClientRect().top + window.scrollY;
            var trigger = feedTwo.getBoundingClientRect().top + window.scrollY;
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 20) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });
</script>
{{/contentFor}}
