{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-home-header">
    {{> header-background background=@site.cover_image}} {{!--Special header-image.hbs partial to generate the background image--}}
        <div class="inner">
            {{> "site-nav"}}
            <div class="site-header-content">
                <h1 class="site-title">
                    {{#if @site.logo}}
                        <img class="site-logo" src="{{img_url @site.logo size="l"}}" alt="{{@site.title}}" />
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </h1>
                <h2 class="site-description">{{@site.description}}</h2>
            </div>
        </div>
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
      <div class="inner posts">
        <h1 class="mainpage-title" style='font-size:50px; padding-top: 20px'>Hello everyone!</h1>
        <p style='font-size: 20px'>I live to create projects that I am passionate about - whether that be <a href ="https://github.com/boosungkim/python-chess">an A.I. system</a>, <a href ="https://boosungkim.com">a personal blogging site</a>, <a href ="https://youtube.com/converge2diverge">a Math and CompSci YouTube channel</a>, or anything related.</p>
        <p style='font-size: 20px'>I have 2 goals with this website:
          <ol>
            <li>to give you an idea of who I am, and</li>
            <li>to showcase/document my projects and their progress.</li>
          </ol>
        Continue reading this page to find more general information, or check out the Blog/Projects/Videos/Resume tabs on the nav bar!
        </p>

        <h2 style='font-size: 35px'>About Me</h2>
        <h3 style='font-size:25px; margin-top: 17px'>Who am I?</h3>
        <p style='font-size: 20px'>I am an undergraduate student double majoring in Math and Computer Science at Dickinson College. I started my journey in high school with Mathemathics, but I came to fall in love with computing soon after.</p>
        <h3 style='font-size:25px; margin-top: 17px'>What am I working on?</h3>
        <p style='font-size: 20px'>While I've explored different fields, I now focus primarily on Artificial Intelligence and Machine Learning. I recently created my first A.I. - a Chess engine that utilizes the Minimax and Alpha Beta Pruning algorithm. I am now working on machine learning projects while studying Deep Learning.</p>
        <p style='font-size: 20px'>Alongside my undergraduate studies and side projects, I also maintain <a href="https://boosungkim.com/blog/">a blog</a> and my YouTube channel, <a href="https://youtube.com/converge2diverge">Converge2Diverge</a>. I write about my projects, progress on my studies, and opinions about news in the computing world. Similarly, I create videos about various Mathematics/Computer Science topics.</p>


        <h2 style='font-size: 35px'>Projects</h2>
        <p style='font-size: 20px'>View the rest in the <a href="https://boosungkim.com/projects/">Projects page</a>!</p>
        <div class="post-feed" style='padding-bottom: 0px'>
          {{#get "posts" filter="tags:[Project-Showcase]+featured:true" limit="3"}}
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
          {{/get}}
        </div>

        <h2 style='font-size: 35px'>Where I've Worked</h2>
        <div class="post-feed" style='padding-bottom: 0px'>
          {{#get "posts" filter="tags:[work-showcase]" limit="all"}}
            {{#foreach posts}}
                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
            {{/foreach}}
          {{/get}}
        </div>

        <h2 style='font-size: 35px; margin-top: 10px'>Skills</h2>
        <p style='font-size: 20px'>Skill sets and technologies I've worked with:</p>
        <ul>
          <!-- <li>Machine Learning: </li> -->
          <li><i><b>Proficient Languages:</b></i> Python 3, Java, LaTeX</li>
          <li><i><b>Technologies & Environmzents:</b></i> GNU/Linux, Git & GitHub, Vim, PyCharm</li>
          <li><i><b>Basic Understanding:</b></i> C++, MatLab, R, HTML, CSS</li>
          <li><i><b>Spoken Languages:</b></i> English (native), Korean (native), Chinese</li>
      </ul>
      <!-- Change up skills once machine learning is added -->
        <!-- Potentially add: certificates, non-cs skills -->
      </div>


      <div class="inner posts">
        <h2 style='font-size: 35px'>Featured Posts</h2>
          <div class="post-feed" style='padding-bottom: 0px'>
            {{#get "posts" filter="featured:true" limit="3"}}
              {{#foreach posts}}
                  {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                  {{> "post-card"}}
              {{/foreach}}
            {{/get}}
          </div>

          <!-- <h2 style='font-size: 30px; margin-top: 10px'><a style='text-decoration: none' href='https://boosungkim.com/blog/'>Recent Posts</a></h2> -->
            <h2 style='font-size: 35px'>Recent Posts</h2>
            <div class="post-feed" style='padding-bottom: 0px'>
              {{#get "posts" filter="tags:-[work-showcase,Project-Showcase]+featured:false" limit="3"}}
                {{#foreach posts}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                {{/foreach}}
              {{/get}}
            </div>

            <!-- Begin Mailchimp Signup Form -->
            <h2 style='font-size: 30px; margin-top: 10px'>Susbcribe For More!</h2>
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
            	#mc_embed_signup{background:#AFEEEE; clear:left; font:18px Helvetica,Arial,sans-serif; }
            	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. 1a1c20*/
            </style>
            <div id="mc_embed_signup" style= "width: 100%; margin-bottom: 20px">
            <form action="https://boosungkim.us7.list-manage.com/subscribe/post?u=565ee54736c41e874571db0c7&amp;id=6f8f2ee25e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">

            <div class="mc-field-group">
            	<label style="font-size: 25px; color: #000000" for="mce-EMAIL">Email Address </label>
            	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" style='color: #000000'>
            </div>
            	<div id="mce-responses" class="clear">
            		<div class="response" id="mce-error-response" style="display:none"></div>
            		<div class="response" id="mce-success-response" style="display:none"></div>
            	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_565ee54736c41e874571db0c7_6f8f2ee25e" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
            </div>
            <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
            <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
            <!--End mc_embed_signup-->
      </div>
</main>

{{> site-header}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
<script>

    // NOTE: Scroll performance is poor in Safari
    // - this appears to be due to the events firing much more slowly in Safari.
    //   Dropping the scroll event and using only a raf loop results in smoother
    //   scrolling but continuous processing even when not scrolling
    $(document).ready(function () {

        var nav = document.querySelector('.site-nav-main .site-nav');
        var feed = document.querySelector('.post-feed');
        var feedTwo = document.querySelector('.mainpage-title');

        var lastScrollY = window.scrollY;
        var lastWindowHeight = window.innerHeight;
        var lastDocumentHeight = $(document).height();
        var ticking = false;

        function onScroll() {
            lastScrollY = window.scrollY;
            requestTick();
        }

        function onResize() {
            lastWindowHeight = window.innerHeight;
            lastDocumentHeight = $(document).height();
            requestTick();
        }

        function requestTick() {
            if (!ticking) {
                requestAnimationFrame(update);
            }
            ticking = true;
        }

        function update() {
            // var trigger = feed.getBoundingClientRect().top + window.scrollY; // trigger - 20
            var trigger = feedTwo.getBoundingClientRect().top + window.scrollY; // trigger - 6
            var progressMax = lastDocumentHeight - lastWindowHeight;

            // show/hide nav
            if (lastScrollY >= trigger - 6) {
                nav.classList.add('fixed-nav-active');
            } else {
                nav.classList.remove('fixed-nav-active');
            }

            ticking = false;
        }

        window.addEventListener('scroll', onScroll, { passive: true });
        window.addEventListener('resize', onResize, false);

        update();

    });
</script>
{{/contentFor}}
